@use "sass:color";
@use '../../../../variables.scss' as *;

:host {
  display: block;
  flex-shrink: 0; // Impede que o footer encolha
}

// Footer
footer.bg-dark {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($primary-blue, 0.95) !important;

  .social-links {
    a:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 768px) {
    .row {
      text-align: center;

      .col-md-4 {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        &.text-end {
          text-align: center !important;
        }
      }
    }

    h5 {
      font-size: 1.1rem;
    }

    small {
      font-size: 0.8rem;
    }
  }
}
